.note-input-panel{
    width:50vw;
    margin:auto;
    margin-top:50px;
}

.note-input-fields{
    display:flex;
    flex-direction: column;
}

.note-input-button{
    display: flex;
    justify-content: flex-end;
}